.input-busqueda {
	min-height: 60px;
	border-radius: 10px;
	padding-left: 3rem;
	padding-right: 3rem;
	font-size: 2rem;
	background-image: url('./../assets/search.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 50px) center;
	background-size: 40px 40px;
}

.loading {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	color: white;
}

@media (max-width: 768px) {
	.input-busqueda {
		min-height: 35px;
		padding-left: 1rem;
		padding-right: 1rem;
		font-size: 1rem;
		background-size: 25px 25px;
		background-position: 95%;
	}
}