.input-busqueda {
	min-height: 60px;
	border-radius: 30px;
	padding-left: 3rem;
	padding-right: 3rem;
	font-size: 2rem;
	background-image: url('./../assets/search.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 50px) center;
	background-size: 40px 40px;
}